 <footer>
            	<aside>
			    <h3>contact info</h3>
			    <p><img src="assets/img/phone.png"> 0762240069 </p>
			    <p><img src="assets/img/email.png"> emannzhat@gmail.com </p>
		   </aside>
		    <aside>
			    <h3>Adresse</h3>
			    <address>
			    <p><img src="assets/img/adresse.png">15 square yves monnier </br> 
			    35200 </br>
			    Rennes</p>
			    </address>
			</aside>
		    <aside>
			    <h3>heures d'ouvertures</h3>
			    <p>Du Mardi au Dimanche</br>
			    	10:00 jusqu'à 22:00</br>
			    	Le Lundi est fermée</p>
			</aside>
        </footer>
        