<header>
    
    <img src="assets/img/logo.jpg" alt="logo" class="logo">
    <nav>
        <ul>
                <li>
                    <a href="index.php?route=about">Qui sommes nous?</a>
                </li>
                <li>
                    <a href="index.php?route=Nos-plats">Nos plats</a>
                </li>
                <li>
                    <a href="index.php?route=Reserver">Reserver</a>
                </li>
                 <li>
                    <a href="index.php?route=Votre-avis">Votre-avis</a>
                </li>
                 <li>
                    <a href="index.php?route=Connexion">Connexion</a>
                </li>
        </ul>
    </nav>
  
</header>