{% extends "base.html.twig" %}

{% block main %}		
	<main class="about">
        <h1 class="title">Porte de Damas</h1>
        <div>
            <figure>
            <img src="assets/img/siria-damasco.jpg" alt="image d'un des portes de damas " class="image">
            </figure>
            <article class="container">
                <h2>Qui sommes nous?</h2>
                <p>Nous sommes une famille syrienne, animée par une passion profonde pour la cuisine de notre pays et la richesse de ses mets variés.
                Dans notre culture, les repas ne se composent pas d'entrées ni de plats principaux.
                Au contraire, tous les mets sont disposés sur la table et chacun se sert selon ses envies.
                La cuisine syrienne, riche en saveurs et en variétés, est l'une des plus délicieuses du Moyen-Orient.
                Pour faire découvrir cette richesse gastronomique, nous avons décidé d'ouvrir un restaurant syrien.
                Le nom de notre restaurant, "Porte de Damas", rend hommage aux sept portes historiques de la vieille ville de Damas, 
                certaines étant encore debout aujourd'hui, symboles de notre patrimoine et de notre histoire.</p>
            </article>
        </div>
</main>

 {% include "partials/footer.html.twig" %}
 
	  {% endblock %}
	  
	