{% extends "base.html.twig" %}

{% block main %}		
		<main class="about">
    <h1 class="title">Porte de Damas</h1>
    <article>
        <figre>
        <img src="assets/img/siria-damasco.jpg" class="image">
        </figre>
        <div class="container">
            <h2>Qui sommes nous?</h2>
            <p>Nous sommes une famille syrienne qui a décidé de vivre en France après plusieurs déménagements dus à la guerre en Syrie.
                Nous avons décidé de démarrer notre projet en raison de notre passion pour la cuisine syrienne et la diversité de ses plats.<br>
                Dans la culture culinaire syrienne, nous n'avons pas l'entrée, le plat principal, etc.
                Nous mettons tous les plats sur la table et chacun commence comme il préfère.</p>
        </div>
    </article>
</main>

 {% include "partials/footer.html.twig" %}
 
	  {% endblock %}
	  
	