{% extends "base.html.twig" %}

{% block main %}	
 {% if error is defined %}
        <div class="error-message" >
            {{ error }}
        </div>
    {% endif %}
    

<main class=connexion>
    
    
    <form action="index.php?route=check-connexion" method="post">
        <h1>Connexion</h1>
        <input type="hidden" name="csrf-token" value="{{ csrf_token}}">
        
        <label for="email">Votre Email :</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Votre mot de passe :</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Se connecter" class=bouton>
    </form>
</main>

	  {% endblock %}
	 