{% extends "base.html.twig" %}

{% block main %}		
	<main class="legal">
        <h1>Mentions Légales</h1>
        <section>
            <h2>Identification du Site</h2>
            <p><strong>Nom de la société/propriétaire :</strong>Porte de Damas</p>
            <p><strong>Adresse :</strong> 15 square yves Monnier 35200 Rennes</p>
            <p><strong>Numéro de téléphone :</strong> 0762240069 </p>
            <p><strong>Adresse email :</strong> <a href="mailto:[Adresse email]">portededamas5@gmail.com</a></p>
        </section>

        <section>
            <h2>Hébergement du Site</h2>
            <p><strong>Hébergeur :</strong> 3w Academy</p>
        </section>
        
        <section>
        <h2>Responsabilité Éditoriale</h2>
        <p><strong>Directeur de la publication :</strong> Iman Nazhat</p>
        <p><strong>Responsable de la rédaction :</strong> Iman Nazhat</p>    
        </section>
        
        <section>
            <h2>Propriété Intellectuelle</h2>
            <p>Tous les contenus présents sur ce site (textes, images, vidéos, etc.) sont protégés par le droit d’auteur. Toute reproduction est interdite sans l’autorisation écrite préalable.</p>
        </section>

        <section>
              <h2>Conditions Générales d’Utilisation</h2>
            <p>Les présentes conditions générales régissent l'utilisation de notre site web. En accédant à ce site, vous acceptez ces conditions dans leur intégralité. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>
            <p><strong>1. Utilisation du contenu :</strong> Le contenu de ce site est uniquement à des fins d'information générale. Il est sujet à changement sans préavis.</p>
            <p><strong>2. Propriété intellectuelle :</strong> Tous les droits de propriété intellectuelle relatifs au site et à son contenu sont réservés. Vous ne devez pas reproduire, distribuer ou exploiter de quelque manière que ce soit le contenu, sauf autorisation expresse.</p>
            <p><strong>3. Limitation de responsabilité :</strong> Nous nous efforçons de maintenir le site à jour et accessible, mais nous ne garantissons pas son accessibilité continue ou sans erreur.</p>
           
        </section>
 
         <section>
            <h2>Protection des Données Personnelles</h2>
            <p>Nous accordons une importance capitale à la protection de vos données personnelles. Nous nous engageons à respecter rigoureusement la confidentialité de vos informations. Les mesures suivantes sont mises en place pour garantir votre sécurité :</p>
            <p><strong>Transparence totale :</strong> Nous vous informons clairement sur la collecte et l'utilisation de vos données personnelles.</p>
            <p><strong>Sécurité des données :</strong> Nous appliquons des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé ou tout usage abusif.</p>
            <p><strong>Conformité aux régulations :</strong> Nous respectons les réglementations en vigueur telles que le RGPD (Règlement Général sur la Protection des Données) en Europe et le CCPA (California Consumer Privacy Act) en Californie.</p>
        </section>

       
            <p>Ces mentions légales ont été mises à jour le 13/06/2024.</p>
        
</main>

 {% include "partials/footer.html.twig" %}
 
	  {% endblock %}