{% extends "base.html.twig" %}

{% block main %}	
<main class=menu>

		    	
		    <section>
		    	{% for menu in  menus %}
		    	
		        <h3>{{  menu.vegetarian }}</h3>
		        
		            <h4>{{  menu.name }}</h4>
		            <figure>
                            <img src="{{  menu.pictureUrl }}"width=80/>
                        </figure>
                        
		            <p>{{  menu.discription }}</p>
		        {% endfor %}
		       
		    </section>
		    
		</main>	
 {% endblock %}
	  
