{% extends "base.html.twig" %}

{% block main %}

<main class=menu>
		    	 <h2>Notre plats</h2>
		    <section>	 
		    	<div class="categories" id="plats-de-viande">
			       <h3>plats de viande</h3>
			       <ul class="dishes" id="plats-de-viande-dishes"></ul>
			    </div>
			    <div class="categories" id="plats-végétarien">
			       <h3>Plats végétarien</h3>
			       <ul class="dishes" id="plats-végétarien-dishes"></ul>
			    </div>
			    <div class="categories" id="desserts">
			       <h3>Desserts</h3>
			       <ul class="dishes" id="desserts-dishes"></ul>
			    </div>
			</section>
		 <ul>
		    {% for menu in  menus %}
		    	<li>
		    		<article>
		    			<figre>
	                            <img src="{{  menu.picture|escape }}" width="150"/>
	                    </figre>
	                     <section>      
				            <h4>{{  menu.name|escape }}</h4>
				           
				            <p>{{  menu.discription|escape }}</p>
			             </section> 
			         </article>
		         </li>
		     {% endfor %}
		  </ul>  
</main>	

{% endblock %}
	  
