{% extends "base.html.twig" %}



{% block main %}

 {% if error is defined %}
        <div class="error-message" >
            {{ error }}
        </div>
    {% endif %}
    

<main class=reserver>
        
      
    <form action="index.php?route=check-creer-reservation" method="post">
        <h1>réservez votre place</h1>
        <label for="name">Votre nome et prénom:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Votre Email :</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="telephone">Votre Téléphone :</label><br>
        <input type="tel" id="telephone" name="telephone" required><br><br>
        
        <label for="nombre_personnes">Nombre de personnes :</label><br>
        <input type="number" id="nombre_personnes" name="nombre_personnes" min="1" required><br><br>
        
        <label for="date">Date de réservation :</label><br>
        <input type="Date" id="date" name="date" required><br><br>

        <label for="heure">Heure de réservation :</label><br>
        <input type="time" id="heure" name="heure" required><br><br>

        <label for="message">Message: (Facultatif)</label><br>
        <textarea id="message" name="message"></textarea><br><br>

        <input type="submit" value="Réserver" class=bouton>
    </form>
</main>

 {% endblock %}
	  
	 
	 