/* start global rules */

body * {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;  
}

body {
	font-family: 'Nunito', sans-serif;
	line-height: 1.5;
	font-size: 1.8rem; 
	background-color:#F4EAD5;
	margin: 0;
	padding: 0;
	border: 0;
}

h1, 
h2, 
h3 ,
h4{
	font-family: 'Merienda', cursive;
	font-weight: bold;
	 font-size:3rem;
     text-align:center;
} 

main {
    padding:20px;
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
  align-items: center; 
}

.connexion , .reserver{
   background-image:url(../img/homedamas.jpg);
   background-repeat: no-repeat;
   background-size: 160rem 75rem;
   background-position: center;
}


@media (min-width: 768px) {
      menu {
        width: 750px; 
        
      }
    }
@media (min-width:992px) {
      menu {
        width:970px; 
        
      }
    }
@media (min-width:1200px) {
      menu {
        width: 1170px; 
        
      }
    }


 
/*end global rules*/

/***************************************header style************************************************/

header {
  	background:#E6D5B1;
  	display:flex;
    justify-content:space-between;
    align-items:center;
    font-size: 2rem; 
}

/***************************************Logo style************************************************/

.logo {
	width: 20%;
	margin:0;
}

/***************************************nav style************************************************/

nav ul {
    display: flex;
    justify-content:space-around;
  	text-align: center;
  	margin:0;
  	padding:0;
  	list-style: none;
  	color: #242743;
  	font-family: 'Merienda', cursive;
}
nav a {
	font-weight: bold;
	text-decoration: none;
	padding: 1rem 2rem;
	color: #242743;
}

/***************************************page d'accueil style************************************************/
.about{
    align-items: center;
    padding-bottom:5rem;
}

.title {
  text-align: center; 
  font-size: 4rem;
  color: #242743;
  padding:1rem;
}

article {
  	display:grid;
  	grid-template-columns: repeat(3, 1fr);
}

article figre {
   z-index:1;
   grid-column: 1 / 3;
   grid-row: 2;
}

article figre img {
    width:40rem;
}

.container {
  text-align:center;
  padding:10rem;
  background-color:#E6D5B1;
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  color: #242743;
}


.container p{
    font-size:1.8rem;
}

.error-message{
  padding:10px;
  background-color:#242743;
  font-size:20px;
  width:600px;
  text-align:center;
  position:fixed;
  top:80px;
  right:0;
  z-index:9999;
  color: #E6D5B1
}


/***************************************page de menu style************************************************/

.menu {
  padding:20px;
  color: #242743;
  justify-content:center;
  font-size:20px;
}

.menu h2{
    font-size:3rem;
    padding:2rem;
}
.menu section{
    display:flex;
    justify-content:space-around;
}
.menu ul {
   list-style:none;
}
.menu ul article {
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  
}
.menu ul li article figre:nth-of-type(2n + 1){
   z-index:1;
  grid-column: 1 / 3;
  grid-row: 1;
  padding:10px; 
}

.menu ul li article figre img{
    width:20rem;
}
.menu ul li article section  {
  text-align:center;
  padding:5px;
  border:5px solid #FFFFFF;
  background-color:#E6D5B1;
  grid-column: 2 / 9;
  grid-row: 1;
  color: #242743;
}
.menu ul li article section p{
  font-size:15px;
}
/***************************************page d'avis style************************************************/

.avis {
  display:flex;
  flex-direction: column;
}

.avis h2 {
  font-size:2.5rem;
  padding-bottom:10px;
}

.avis form {
  background-color:#E6D5B1;
  font-size:1.5rem;
  padding:1rem;
  
}

.avis form input , textarea{
  padding-left:13rem;
  padding-right:13rem; 
}


.avis section ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20rem;
    row-gap: 1rem; 
    list-style: none;
    margin:10px;
   
}

.avis section ul li {
   padding:5px;
   border:5px solid #FFFFFF;
   background-color:#E6D5B1;
   
}

.avis section ul li article {
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   font-size: 2rem;
   color: #242743;
   width:500px;
}
/***************************************page d'reserver style************************************************/
.reserver{
   display:flex;
   flex-direction:column;
}

.reserver form {
   padding:1rem;
   background-color:rgba(230, 213, 177, 0.73);
   font-size:14px;
}

.reserver form h1 {
  text-align:center;
}

.reserver form input , textarea{
  padding-left:13rem;
  padding-right:13rem;
  
}

.bouton{
  padding-left:13rem;
  padding-right:15rem;
  background:#E6D5B1;
}
/***************************************page connexion style************************************************/

.connexion {
   display:flex;
   flex-direction:column;
   padding:200px;
}

.connexion form {
   padding:1rem;
   background-color:rgba(230, 213, 177, 0.73);
   font-size:14px;
}

.connexion form h1 {
  text-align:center;
}

.connexion form input {
  padding-left:13rem;
  padding-right:13rem;
  
}
/***************************************footer style************************************************/
footer {
  	background:#E6D5B1;
  	display:flex;
    justify-content:space-around;
    color: #242743;
  	font-family: 'Nunito', cursive;
    align-items:center;
    font-size:1.3rem;
}
footer aside {
	padding: 3rem;
	text-align: center;
}

footer h3 {
	font-size: 2rem;
	padding-left: 1rem;

}
